<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sevenre.flutterrazorpaysdk">

    <application>
        <activity
            android:name=".RazorpayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation" />
    </application>

</manifest>